/* VARIABLES */
:root {
  --light-background: #f2ece4;
  --light-text: #036;
  --item-background: #fafafa;
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-line-height : 1.5; */
}

/* MIXINS */ /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu-v20-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/ubuntu-v20-latin-500.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-condensed-regular - latin */
@font-face {
  font-family: "Ubuntu Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ubuntu-condensed-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/ubuntu-condensed-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-condensed-v16-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu-condensed-v16-latin-regular.woff") format("woff"), url("../fonts/ubuntu-condensed-v16-latin-regular.ttf") format("truetype"), url("../fonts/ubuntu-condensed-v16-latin-regular.svg#UbuntuCondensed") format("svg"); /* Legacy iOS */
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  /* font-family: "Roboto", "Arial", sans-serif; */
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.body-img {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  background-image: url("/images/wallpaperbetter-light.jpg");
  background-size: cover;
  background-position: calc(50% + 0px);
  background-repeat: no-repeat;
}
.body-img .body-blur {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.body-img-order {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  background-image: url("/images/wallpaperbetter.jpg");
  background-size: cover;
  background-position: calc(50% + 0px);
  background-repeat: no-repeat;
}
.body-img-order .body-blur-order {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.body-img-reg {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  background-image: url("/images/wallpaperbetter-darl.jpg");
  background-size: cover;
  background-position: calc(50% + 0px);
  background-repeat: no-repeat;
}
.body-img-reg .body-blur-reg {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  position: relative;
  z-index: 10;
}

.hero {
  position: relative;
  z-index: 100;
}

.hero-ind {
  padding-top: 50px;
}

.res-list {
  width: 100%;
  max-width: 1365px;
}

.index-header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ind-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ind-nav__link {
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}

.link-users {
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
  margin-left: 10px;
}

.img-box {
  display: inline-block;
  background-color: #f6f6f6;
}

.img-box-order {
  display: inline-block;
  background-color: rgba(168, 166, 166, 0.4509803922);
}

.product-img {
  display: inline-block;
}

.btn-ind {
  margin-top: auto;
  height: 40px;
}

.hero-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-logo-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
}
.site-logo-link:hover {
  color: #000;
}

.site-lgo-text {
  position: absolute;
  right: -28px;
  bottom: 3px;
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.hero-box__form-box {
  padding: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 450px;
  background-color: rgba(51, 90, 100, 0.537254902);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.hero-box__title {
  margin-bottom: 30px;
  font-family: "Ubuntu Condensed", "Arial", sans-serif;
  font-size: 80px;
  line-height: 90px;
  font-weight: 500;
  color: #f1fdfd;
  text-align: center;
}

.hero-box__info {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  color: #f1fdfd;
  text-align: center;
  margin-bottom: 50px;
}

.site-form {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fite-form__email {
  border-radius: 10px;
  padding: 15px;
  border: none;
  outline: none;
  background-color: rgba(51, 90, 100, 0.537254902);
  margin-bottom: 20px;
  color: #f1fdfd;
}
.fite-form__email::-webkit-input-placeholder {
  color: #f1fdfd;
}
.fite-form__email::-moz-placeholder {
  color: #f1fdfd;
}
.fite-form__email:-ms-input-placeholder {
  color: #f1fdfd;
}
.fite-form__email::-ms-input-placeholder {
  color: #f1fdfd;
}
.fite-form__email::placeholder {
  color: #f1fdfd;
}

.fite-form__pas {
  border-radius: 10px;
  padding: 15px;
  border: none;
  outline: none;
  margin-bottom: 8px;
  background-color: rgba(51, 90, 100, 0.537254902);
  color: #f1fdfd;
}
.fite-form__pas::-webkit-input-placeholder {
  color: #f1fdfd;
}
.fite-form__pas::-moz-placeholder {
  color: #f1fdfd;
}
.fite-form__pas:-ms-input-placeholder {
  color: #f1fdfd;
}
.fite-form__pas::-ms-input-placeholder {
  color: #f1fdfd;
}
.fite-form__pas::placeholder {
  color: #f1fdfd;
}

.fite-form__text {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #f1fdfd;
  text-align: center;
  padding: 0;
}

.btn-login {
  margin: 0 auto;
  border: none;
  width: 100%;
  max-width: 280px;
  border-radius: 10px;
  background-color: rgba(51, 90, 100, 0.537254902);
  color: #f1fdfd;
  padding: 10px 30px;
}

input[type=file] {
  display: none;
}

.praduct-input__img {
  padding: 50px;
}

.input-flie {
  width: 367px;
  padding: 50px 0 50px 0;
  border: 3px dashed rgb(94, 94, 94);
  text-align: center;
  margin: 5px 0;
}
.input-flie:hover {
  cursor: pointer;
}

.reg-hero {
  border-radius: 10px;
  background-color: rgba(51, 90, 100, 0.537254902);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  margin: 0 auto;
  margin-top: 200px;
}

.reg-input {
  border-radius: 10px;
  padding: 15px;
  border: none;
  outline: none;
  background-color: rgba(51, 90, 100, 0.537254902);
  margin-bottom: 0px;
  color: #f1fdfd;
}
.reg-input::-webkit-input-placeholder {
  color: #f1fdfd;
}
.reg-input::-moz-placeholder {
  color: #f1fdfd;
}
.reg-input:-ms-input-placeholder {
  color: #f1fdfd;
}
.reg-input::-ms-input-placeholder {
  color: #f1fdfd;
}
.reg-input::placeholder {
  color: #f1fdfd;
}/*# sourceMappingURL=main.css.map */